*{
    padding: 0;
    margin: 0;
    font-family: "Handlee", cursive;
}

.ppal{
    background-image: url("./images/note.png");
    height: 100vh;
    text-align: center;
    padding-top: 15%;
}

.clicked{
    text-decoration: line-through;
}
